body {
    color: #3b3b3b;
    background-color: white;
    font-size: 14pt;
    font-family: Garamond;
}
h1, h2, h3 {
    color: #6E2C00;
    background-color: #107800;
    font-family: Verdana;
    text-decoration: underline;
}
h1 {
    text-align: center;
    font-size: 28pt;
    font-weight: bold;
}
h2, h3 {
    text-align: left;
    font-size: 20pt;
}
